.footer_bottom {
    float: left;
    display: inline;
    width: 100%;
    padding: 10px 30px;
    background-color: #303030;
    color: #ccc;
}

.footer_top {
    background-color: #252525;
    color: #ddd;
    display: inline;
    float: left;
    padding: 10px 30px 48px;
    width: 100%;
}


.bgNav{
    background-color: rgba(75, 199, 241, 0.57);
}

.slick-prev:before{ content:""}
.slick-prev{ background-image:url(images/slider_prev.png); background-repeat:no-repeat; background-position:center; left:10px}
.slick-next:before{ content:""}
.slick-next{ background-image:url(images/slider_next.png); background-repeat:no-repeat; background-position:center; left:60px}
.slick-prev, .slick-next{background-color:#000; top:10%; width:40px; height:40px}
.slick-prev:hover, .slick-next:hover{opacity:0.5}
.latest_post{float:left; display:inline; width:100%}
.latest_post > h3{ color: white; background:none repeat scroll 0 0 #222533; color:#fff; font-family:'Oswald',sans-serif; font-size:18px; margin-top:5px; font-weight:400; margin-bottom:10px; margin-left:0; padding:10px; position:relative; text-align:center; text-transform:uppercase}
.latest_post > h3 span{padding:4px 10px}
.latest_postnav{height:auto !important; margin-top:20px}
.latest_postnav li{margin-bottom:10px; float:left; width:100%}
.latest_post_container{display:inline; float:left; height:430px; position:relative; width:100%}
.latest_post_container:hover #prev-button, .latest_post_container:hover #next-button{display:block}
#prev-button{cursor:pointer; font-size:20px; left:0; position:absolute; text-align:center; top:-10px; width:100%; display:none}
#next-button{cursor:pointer; display:none; font-size:20px; left:0; position:absolute; text-align:center; bottom:0; width:100%}

/* Slider */
.single_iteam{display:inline; float:left; position:relative; width:100%; height:448px}
.single_iteam img{width:100%; height:100%}
.single_iteam img:hover{opacity:1}
.slider_article{ bottom:20px; left:0; position:absolute; right:0; padding:10px 15px}
.slider_article > h2 a{ background:none repeat scroll 0 0 rgba(0,0,0,0.4); color:#fff; font-size:18px; padding:10px; display:inline-block}
.slider_article > p{ background:none repeat scroll 0 0 rgba(0,0,0,0.4); color:#fff; padding:3px; display:inline-block}


@media(max-width:991px ){.add_banner{display:none}.logo_area{width:100%}.nav > li > a{padding:8px 8px}.latest_post_container{height:380px;overflow:hidden}#next-button{bottom:-2px}.single_iteam{height:415px}.photograph_nav li{width:47.7%}.related_post .spost_nav li{width:100%}.nav-tabs > li{width:31.9%}.nav-tabs > li > a{font-size:13px;padding-left:0 !important;padding-right:0 !important;text-align:center}}
@media(max-width:767px ){.navbar-collapse{padding-left:15px}.mobile-show{display:block}.desktop-home{display:none}.navbar-inverse .navbar-nav > li > a{display:block}.header_top_left{width:100%}.header_top_right > p{display:none}.social_area{display:none}.single_iteam a{height:100%}.single_iteam a > img{height:100%}.error_page > a{margin-bottom:25px}.nav-tabs > li{width:32.6%}}
@media(max-width:480px ){.top_nav{text-align:center}.single_post_content_left{width:100%}.single_post_content_right{width:100%}.fashion{width:100%}.technology{width:100%}.copyright{text-align:center;width:100%}.developer{text-align:center;width:100%}.single_iteam{height:300px}.photo_grid figure{height:200px}.photograph_nav li{width:100%;margin-left:0}.nav > li > a{padding:8px 12px}.nav-tabs > li{width:32.6%}}
@media(max-width:360px ){.latest_newsarea span{font-size:12px;line-height:2.2em;padding:2px 10px 1px 10px}.single_iteam{height:210px}.slider_article > p{display:none}.error_page > span{width:80px}.nav-tabs > li{width:32.3%}.pagination > li > a,.pagination > li > span{padding:4px 8px}}
@media(max-width:320px ){.sociallink_nav li a{padding:5px 10px}.sociallink_nav li:nth-child(1) > a{padding:5px 13px}.nav-tabs > li{width:32.1%}}